@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/*
Author : Julien Nanquette ;
URL : https://kulwch.github.io/JulienNanquette_2_22022021/
Description: Mise en forme du site Reservia ;
Tags : Site, Reservia, Location, Reservation, Vacances, Hébergements ;
*/


/* COMMON STYLE RULES  */

body {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

* a:hover {
    color: #0065fc;
}

* {
    margin: 0;
    padding: 0;
}


/* DISPLAY RULES */


/* Alignment, centering... */

.flex {
    display: flex;
}

.auto-margin {
    margin: auto;
}

.margin-mobile {
    margin-bottom: 5%;
}

.main-margin {
    margin: 4% 8.5% 3% 8.5%;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.nolist {
    list-style-type: none;
}

.cover {
    object-fit: cover;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.start-justify {
    justify-content: flex-start;
}

.align-flex-start {
    align-items: flex-start;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.self-align-start {
    align-self: flex-start;
}

.evenly {
    justify-content: space-evenly;
}

.center-content {
    align-content: center;
}

.padding-left-unset {
    padding-left: unset;
}

.padding-left-10 {
    padding-left: 10%;
}


/* Widths */

.width100 {
    width: 100%;
}

.width93 {
    width: 93%;
}


/* Heights */

.height15 {
    height: 15px;
}

.height46 {
    height: 46px;
}

.height48 {
    height: 48px;
}

.height50 {
    height: 50px;
}

.height144 {
    height: 144px;
}


/*FONTS STYLES */


/* Colors */

.black {
    color: #000000;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

a:hover {
    color: #0065fc;
}

header nav li a:hover {
    color: #0065fc;
}

a:active {
    color: #0065fc;
}


/* Sizes */

.font-size-07 {
    font-size: 0.7rem;
}

.font-size-085 {
    font-size: 0.85rem;
}

.font-size-09 {
    font-size: 0.9rem;
}

.font-size-095 {
    font-size: 0.95rem;
}

.font-size-1rem {
    font-size: 1rem;
}

.font-size-1rem1 {
    font-size: 1.1rem;
}

.font-size-1rem4 {
    font-size: 1.4rem;
}

.font-size-1rem5 {
    font-size: 1.5rem;
}


/* Weights */

.font-weight300 {
    font-weight: 300;
}

.normal-font-weight {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


/*BACKGROUND COLORS */

.whiteback {
    background-color: #ffffff;
}

.greyback {
    background-color: #F2F2F2;
}

.blueback {
    background-color: #0065fc;
}


/* BORDERS */


/* Colors */

.greyborder {
    border: 1px solid #F2F2F2;
}

.whiteborder {
    border: 1px solid #ffffff;
}

.blueborder {
    border: 1px solid #0065fc;
}

.accomodation_picture,
.popular_picture,
.activity_picture {
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
}


/* Border radius */

.border-radius-15 {
    border-radius: 15px;
}

.border-top-radius15 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.border-top-left-radius15 {
    border-top-left-radius: 15px;
}

.border-bottom-left-radius15 {
    border-bottom-left-radius: 15px;
}

.border-top-right-radius-15 {
    border-top-right-radius: 15px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-top-radius10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border-left-radius10 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* Border styles */

.border-2px-grey {
    border: 2px solid #d9d9d9;
    border-left: hidden;
}

.border-5px-white {
    border: 5px solid #ffffff;
}

header nav ul li:active {
    border-top: 1px solid #0065fc;
}


/* HEADER */

header {
    margin: 0px 3.8% 0px 3.8%;
}

header #logo {
    padding-top: 70px;
    margin-left: -6px;
}

header nav {
    justify-content: flex-end;
    width: 55%;
    margin-left: 28%;
}

header nav ul {
    height: 150px;
}

header nav ul li:hover {
    border-top: 1px solid #0065fc;
}

header nav ul li {
    padding-top: 50px;
    width: 150px;
}

.sign_in {
    width: 8%;
    height: 143px;
    margin-top: -12px;
}


/* MAIN */


/* SEARCH SECTION */

.search {
    margin: 0% 3.5% 0% 3.5%;
}


/* FILTERS*/

.fa-map-marker-alt {
    width: 4%;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    width: 48px;
    height: 48px;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.city::placeholder {
    opacity: 1;
}

.city:placeholder-shown {
    color: black;
}

.cursor:hover {
    cursor: pointer;
}


/* ACCOMODATIONS SECTION */

.accomodations_in_city {
    margin-left: 3.5%;
    margin-right: 3.5%;
    min-height: 626px;
}

.accomodations_section h2 {
    padding-left: 3.8%;
    font-size: 1.3rem;
}

.picture-height {
    height: 188px;
}

.img-height {
    height: 114px;
}

.accomodation_stars {
    height: 20px;
    align-items: flex-start;
}

.accomodation_picture figcaption {
    height: 74px;
    padding-left: 3.7%;
}

.accomodation_picture {
    border: 5px solid #ffffff;
}

.room_info {
    min-width: 15rem;
    padding: unset;
}

.accomodation_stars {
    font-size: 0.75rem;
    width: 10vw;
}

.accomodation_name
/* MOST POPULAR SECTION */

.popular_picture {
    width: 244px;
}

.popular_picture img {
    width: 126px;
    height: 134px;
}

.fa-chart-line {
    font-size: 1.4rem;
    margin-right: 9%
}

.most_popular_title h2 {
    height: 24px;
    font-size: 1.3rem;
    font-weight: bold;
}

.most_popular_title {
    margin-bottom: 4%;
}

.popular_room_info {
    margin-bottom: 35px;
    justify-content: space-between;
}

.popular_name,
.popular_price {
    margin-top: 12px;
}


/* ACTIVITIES SECTION  */

.activities_section {
    margin: 60px 0px 60px 0px;
}

.activities_section h2 {
    margin-bottom: 25px;
    align-self: flex-start;
    margin-left: 3.5%;
}

.image-width {
    width: 302px;
}

.first_activity img,
.fourth_activity img {
    height: 390px;
    object-fit: ;
    object-position: ;
}

.second_activity img {
    height: 180px;
}

.third_activity img {
    height: 108px;
}

.fifth_activity img {
    height: 140px;
}

.sixth_activity img {
    height: 152px;
}

.first_activity-height,
.fourth_activity-height {
    height: 446px;
}

.second_activity-height {
    height: 236px;
}

.third_activity-height {
    height: 164px;
}

.fifth_activity-height {
    height: 196px;
}

.sixth_activity-height {
    height: 210px;
}

.activity_picture {
    border-radius: 15px;
}

.activity_picture img {
    object-fit: cover;
}

.activities_name {
    height: 56px;
    padding-left: 6%;
}

.activities_in_city article {
    margin: 0px 1.1rem 0px 1.1rem;
}


/* FOOTER */

footer nav a {
    padding-bottom: 15px;
}

footer nav h3 {
    padding: 40px 0px 22px 0px;
}