@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/*
Author : Julien Nanquette ;
URL : https://kulwch.github.io/JulienNanquette_2_22022021/
Description: Mise en forme du site Reservia ;
Tags : Site, Reservia, Location, Reservation, Vacances, Hébergements ;
*/


/* COMMON STYLE RULES  */

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

* a:hover {
    color: #0065fc;
}

* {
    margin: 0;
    padding: 0;
}


/* DISPLAY RULES */


/* Alignment, centering... */

.flex {
    display: flex;
}

.auto-margin {
    margin: auto;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.nolist {
    list-style-type: none;
}

.cover {
    object-fit: cover;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.start-justify {
    justify-content: flex-start;
}

.align-flex-start {
    align-items: flex-start;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.self-align-start {
    align-self: flex-start;
}

.evenly {
    justify-content: space-evenly;
}

.center-content {
    align-content: center;
}

.padding-left-unset {
    padding-left: unset;
}

.padding-left-10 {
    padding-left: 10%;
}


/* Widths */

.width100 {
    width: 100%;
}

.width93 {
    width: 93%;
}


/* Heights */

.height15 {
    height: 15px;
}

.height46 {
    height: 46px;
}

.height48 {
    height: 48px;
}

.height50 {
    height: 50px;
}

.height134 {
    height: 134px;
}


/*FONTS STYLES */


/* Colors */

.black {
    color: #000000;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

a:hover {
    color: #0065fc;
}

header nav li a:hover {
    color: #0065fc;
}

header nav li a:active {
    color: #0065fc;
}


/* Sizes */

.font-size-07 {
    font-size: 0.7rem;
}

.font-size-085 {
    font-size: 0.85rem;
}

.font-size-09 {
    font-size: 0.9rem;
}

.font-size-095 {
    font-size: 0.95rem;
}

.font-size-1rem {
    font-size: 1rem;
}

.font-size-1rem1 {
    font-size: 1.1rem;
}

.font-size-1rem4 {
    font-size: 1.4rem;
}

.font-size-1rem5 {
    font-size: 1.5rem;
}


/* Weights */

.font-weight300 {
    font-weight: 300;
}

.normal-font-weight {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


/*BACKGROUND COLORS */

.whiteback {
    background-color: #ffffff;
}

.greyback {
    background-color: #F2F2F2;
}

.blueback {
    background-color: #0065fc;
}


/* BORDERS */


/* Colors */

.greyborder {
    border: 1px solid #F2F2F2;
}

.whiteborder {
    border: 1px solid #ffffff;
}

.blueborder {
    border: 1px solid #0065fc;
}

.accomodation_picture,
.popular_picture,
.activity_picture {
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
}


/* Border radius */

.border-radius-15 {
    border-radius: 15px;
}

.border-top-left-radius15 {
    border-top-left-radius: 15px;
}

.border-bottom-left-radius15 {
    border-bottom-left-radius: 15px;
}

.border-top-right-radius-15 {
    border-top-right-radius: 15px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-top-radius10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border-left-radius10 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* Border styles */

.border-2px-grey {
    border: 2px solid #d9d9d9;
    border-left: hidden;
}

.border-4px-white {
    border: 4px solid #ffffff;
}

header nav ul li:active {
    border-top: 1px solid #0065fc;
}


/* MAIN */


/* SEARCH SECTION */

.search {
    margin: 0% 5% 0% 5%;
}


/* FILTERS*/

.fa-map-marker-alt {
    width: 5%;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    width: 48px;
    height: 48px;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.city::placeholder {
    opacity: 1;
}

.city:placeholder-shown {
    color: black;
}

.cursor:hover {
    cursor: pointer;
}


/* ACCOMODATIONS SECTION */

.accomodations_section h2 {
    padding-left: 5.3%;
    font-size: 1.3rem;
}

.picture-height {
    height: 188px;
}

.img-height {
    height: 114px;
}

.accomodation_stars {
    height: 20px;
    align-items: flex-start;
}

.accomodation_picture figcaption {
    height: 74px;
    padding-left: 3.7%;
}

.accomodation_picture {
    border: 5px solid #ffffff;
}

.room_info {
    min-width: 15rem;
    padding: unset;
}

.accomodation_stars {
    font-size: 0.75rem;
    width: 10vw;
}

.accomodation_name
/* MOST POPULAR SECTION */

.popular_picture img {
    width: 128px;
    height: 134px;
}

.most_popular {
    padding: 8% 5% 6.2% 5%;
    margin-top: 6%;
}

.fa-chart-line {
    font-size: 1.4rem;
}

.most_popular_title h2 {
    height: 24px;
    font-size: 1.3rem;
    font-weight: bold;
}

.most_popular_title {
    margin-bottom: 8%;
}

.stars {
    padding-bottom: 7.5%;
}

.popular_picture figcaption {
    width: 58%;
}

.popular_room_info {
    margin-bottom: 35px;
    justify-content: space-between;
}

.popular_name,
.popular_price {
    margin-top: 12px;
}


/* ACTIVITIES SECTION  */

.activity_picture img {
    width: 324px;
}

.activity_picture {
    border-radius: 15px;
}

.activities_name {
    height: 56px;
    padding-left: 6%;
}


/* FOOTER */

footer nav a {
    padding-bottom: 10px;
}