@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/* MOBILE VERSION */

.mobile-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-flex-column {
    flex-direction: column;
}

body {
    overflow-x: hidden;
}


/* HEADER */

header {
    flex-wrap: wrap;
    height: 100px;
    margin: 20px 0px 0px 0px;
}

header #logo {
    padding-left: 5.3%;
    padding-top: 5px;
    width: 26%;
    order: 1;
}

.sign_in {
    height: 40px;
    width: 20%;
    align-items: flex-end;
    order: 2;
    margin-right: 20px;
    margin-top: 0;
}

header nav {
    width: 100%;
    padding-top: 20px;
    order: 3;
    justify-content: ;
    margin-left: 0;
}

header nav ul {
    width: 100%;
    justify-content: space-between;
    padding-left: unset;
    height: unset;
}

header nav ul li {
    flex-basis: 50%;
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9d9d9;
}

header nav ul li:hover {
    border-top: none;
}

.active-link {
    color: #0065fc;
}

.blue-bottom-border {
    border-bottom: 2px solid #0065fc;
}


/* SEARCH */

.search h1 {
    font-size: 1.4rem;
    margin-top: 40px;
}

.search h2 {
    font-size: 1rem;
    height: 20px;
    padding-top: 15px;
}

.search_form {
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.search_form form {
    display: flex;
    height: 50px;
    width: 85%;
}

.fa-map-marker-alt {
    width: 15%;
    ;
}

.city {
    padding-left: 20px;
    width: 78%;
    border-right: hidden;
}

.search_city {
    display: none;
}

.fa-search {
    width: 18%;
    border-radius: 25%;
    color: #ffffff;
    margin-left: -12px;
}

.filters_form {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 240px;
    margin-top: 20px;
}

.filters_form p {
    width: 100%;
}

.filters {
    margin-right: 08px;
    padding-right: 3.82%;
    margin-top: 1%;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    margin-right: 14px;
    font-size: 1.05rem;
}

.fa-info {
    height: 25px;
    width: 35px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 0.8rem;
    margin-top: -5px;
}

.info {
    height: 42px;
    width: 100%;
    justify-content: center;
    margin-top: 35px;
}


/* MOST POPULAR SECTION */

.most_popular {
    order: 1;
    padding: 8% 5% 6.2% 5%;
    margin-top: 6%;
}

.most_popular article {
    justify-content: center;
    align-items: center;
}

.popular_picture {
    width: 324px;
}

.popular_picture img {
    width: 128px;
}

.accomodations_in_city {
    flex-direction: column;
    margin: 0;
}


/* ACCOMODATIONS SECTION */

.accomodations_section {
    background-color: #ffffff;
    order: 2;
    margin: 40px 5.3% 40px 5.3%;
}

.accomodations_grid {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.accomodation_picture img {
    width: 314px;
}

.accomodation_picture {
    margin-bottom: 12px;
}

.accomodations_section h2 {
    padding: 0;
    margin-bottom: 16px;
}

.display_more {
    margin-top: 32px;
}


/* ACTIVITIES SECTION */

.first_activity-height,
.second_activity-height,
.third_activity-height,
.fourth_activity-height,
.fifth_activity-height,
.sixth_activity-height {
    height: 190px;
}

.activity_picture img {
    width: 324px;
}

.activities_section {
    margin: 0px 0pc 20px 0px;
}

.activity_picture {
    margin-bottom: 22px;
    height: 190px;
}

.activity_picture img {
    object-fit: cover;
    object-position: ;
    height: 134px;
}

.activities_section h2 {
    margin-bottom: 30px;
    padding-left: 4%;
}

.activities_in_city article {
    margin: 0px 0px 24px 0px;
}


/* FOOTER */

footer {
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 30px 8%;
}

footer nav {
    justify-content: space-between;
    margin: 0;
}