/* MOBILE VERSION */

.mobile-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-flex-column {
    flex-direction: column;
}

body {
    overflow-x: hidden;
}

*a:hover {
    color: unset;
    cursor: pointer;
}

a:focus {
    color: #0065fc;
}


/* HEADER */

header {
    flex-wrap: wrap;
    height: 120px;
    margin: 0;
}

header #logo {
    margin-left: 20px;
    padding-top: 26px;
    width: 100px;
    order: 1;
}

header nav {
    width: 100%;
    height: 70px;
    order: 3;
    margin-left: 0;
}

header nav ul {
    width: 100%;
    justify-content: space-between;
    padding-left: unset;
    height: unset;
}

header nav ul li {
    flex-basis: 50%;
    padding-top: 0;
}

header nav ul li a {
    border-bottom: 2px solid #d9d9d9;
    flex-basis: 100%;
    margin-top: -15px;
}

header nav ul li a:focus {
    border-bottom: 2px solid #0065fc;
    border-top: none;
}

.sign_in {
    height: 40px;
    width: 20%;
    align-items: flex-end;
    order: 2;
    margin-right: 20px;
    margin-top: 20px;
}


/* SEARCH */

.search {
    margin: 35px 5% 0px 5%;
}

.search h1 {
    font-size: 1.4rem;
    margin-top: 40px;
}

.search h2 {
    font-size: 1rem;
    height: 20px;
    padding-top: 15px;
    width: auto;
}

.search_form {
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.search_form form {
    display: flex;
    height: 50px;
    width: 85%;
}

.fa-map-marker-alt {
    width: 15%;
    ;
}

.city {
    padding-left: 20px;
    width: 78%;
    border-right: hidden;
}

.search_city {
    display: none;
}

.fa-search {
    display: flex;
    width: 18%;
    border-radius: 25%;
    color: #ffffff;
    margin-left: -12px;
}

.filters_form {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 240px;
    margin-top: 20px;
}

.filters_form p {
    width: 100%;
}

.filters {
    margin-right: 08px;
    padding-right: 3.82%;
    margin-left: 0;
    margin-top: 1%;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    margin-right: 14px;
    font-size: 1.05rem;
}

.fa-info {
    height: 25px;
    width: 35px;
    border-radius: 50%;
    font-size: 0.8rem;
    margin-top: -5px;
}

.info {
    height: 42px;
    width: 100%;
    justify-content: center;
    margin-top: 35px;
}


/* MOST POPULAR SECTION */

.most_popular {
    order: 1;
    padding: 12% 5% 6.2% 5%;
    margin-top: 6%;
}

.most_popular_title {
    margin: 0;
    padding: 0;
    margin-bottom: 4%;
}

.most_popular article {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.popular_picture {
    width: 334px;
}

.popular_picture img {
    width: 128px;
}

.accomodations_in_city {
    flex-direction: column;
    margin: 0;
}


/* ACCOMODATIONS SECTION */

.accomodations_section {
    background-color: #ffffff;
    order: 2;
    margin: 40px 5.3% 40px 5.3%;
}

.accomodations_section h2 {
    padding: 0;
    margin-bottom: 16px;
}

.accomodations_grid {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.accomodation_picture {
    margin-bottom: 12px;
}

.accomodation_picture img {
    width: 326px;
}

.display_more {
    margin-top: 32px;
}


/* ACTIVITIES SECTION */

.activities_section {
    margin: 0px 0pc 20px 0px;
}

.activities_section h2 {
    margin-bottom: 30px;
    padding-left: 4%;
}

.activities_in_city article {
    margin: 0px 0px 24px 0px;
}

.activity_picture {
    margin-bottom: 22px;
    height: 190px;
}

.activity_picture img {
    object-fit: cover;
    height: 190px;
    width: 336px;
}


/* FOOTER */

footer {
    flex-direction: column;
    justify-content: space-between;
}

footer nav {
    justify-content: space-between;
    margin: 0;
    width: auto;
    padding: 0px 0px 0px 8%;
}

footer nav:last-child {
    padding-bottom: 30px;
}