@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/* HEADER */

header #logo {
    height: 80px;
    padding-top: 25px;
}


/* FOOTER */

footer nav {
    width: 30%;
}