@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/*
Author : Julien Nanquette ;
URL : https://kulwch.github.io/JulienNanquette_2_22022021/
Description: Mise en forme du site Reservia ;
Tags : Site, Reservia, Location, Reservation, Vacances, Hébergements ;
*/


/* COMMON STYLE RULES  */

body {
    font-family: 'Raleway', sans-serif;
}

body a {
    text-decoration: none;
}

body a:visited {
    text-decoration: none;
}


/* Display rules */

.flex {
    display: flex;
}

.auto-margin {
    margin: auto;
}

.width100 {
    width: 100%;
}

.width93 {
    width: 93%;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.nolist {
    list-style-type: none;
}

.cover {
    object-fit: cover;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.start-justify {
    justify-content: flex-start;
}

.align-flex-start {
    align-items: flex-start;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}


/* Fonts styles */

.black {
    color: black;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

.rem1 {
    font-size: 1rem;
}

.bold {
    font-weight: bold;
}

.hover:hover {
    color: #0065fc;
}


/* Borders */

.whiteback {
    background-color: white;
}

.greyback {
    background-color: #F2F2F2;
}

.greyborder {
    border: 1px solid #F2F2F2;
}

.whiteborder {
    border: 1px solid white;
}

.border-radius-15 {
    border-radius: 15px;
}

.border-top-left-radius15 {
    border-top-left-radius: 15px;
}

.border-bottom-left-radius15 {
    border-bottom-left-radius: 15px;
}

.border-top-right-radius-15 {
    border-top-right-radius: 15px;
}